* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
}

.container {
  margin: 0 20px
}

/* typography */

p, span {
  margin: 0;
}

span {
  font-size: 12px;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 16px;
}

a {
  color: black;
}

/* header */

header, nav ul, header div {
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
  padding: 9px 0;
}

nav ul {
  list-style: none;
  text-transform: uppercase;
  font-size: 12px;
}

nav ul li a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: 400;
}

header h1 {
  font-family: "Roboto", sans-serif;
  font-size: 13.55px;
}

header img {
  width: 23.16px;
  margin-right: 3px;
}

/* footer */

footer {
  padding: 33px;
  background: #202020;
  color: #D7D7D7;
  font-size: 12px;
  text-align: center;
}

footer h4 {
  color: #ECECEC;
  margin:0 0 3px 0;
}

/* index.html layout */

.hero {
  background-image: url('../images/hero-post.png');
  width: 100vw;
  background-size: cover;
  background-position: bottom;
  color: white;
  min-height: 293px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 25px;
}

.hero h2 a {
  color: white;
  text-decoration: none;
  text-align: left;
  letter-spacing: -1px;
}

.hero h2 {
  margin: 0;
  line-height: 33px;
}

.post img {
  width: 100%;
  margin-bottom: 14px;
}

.post {
  margin: 41px 20px;
}

.post span {
  font-size: 14.17px;
}

.post h3 {
  font-size: 24px;
  margin: 9px 0;
}

#view-more {
  text-align: center;
  font-weight: bold;
  display: block;
  margin-bottom: 27px;
}

/* post.html layout */

.detailed-post {
  margin-top: 32px;
}

.detailed-post h2 {
  margin: 15px 0;
  letter-spacing: -1px;
  line-height: 33px;
}

.detailed-post img {
  width: 100%;
  min-height: 191px;
  margin: 35px 0 19px 0;
}

.recent-posts {
  text-align: center;
}

/* about-me.html layout */

.about-me img {
  width: 182px;
  margin: 26px 0;
}

.about-me h2 {
  font-size: 34.84px;
  letter-spacing: -1px;
  line-height: 33px;
  margin: 0 0 18px 0;
}

/* media */

@media (min-width: 800px) {
  .container {
    margin: 0 53px;
  }
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 26px;
    margin: 0 53px;
  }
  .post {
    margin: 41px 0;
  }
  .hero {
    min-height: 488px;
    background-position: top;
  }
  .hero div {
    max-width: 657px;
    margin-bottom: 34.27px;
  }
  .text-container {
    max-width: 844px;
    margin: 0 auto;
  }
  .about-me-hero{
    display: flex;
    align-items: center;
    gap: 33px;
  }
}
